<!-- Footer -->
<footer class="">
    <!-- footer bottom part -->
    <div class="footer-bottom">
        {# <div class="row justify-content-center">
            <div class="col-lg-3 icon-bx-sm m-b20 radius">
                <a href="https://www.instagram.com/liveyomlife/" target="_blank" class="icon-cell p-3"><i class="fa fa-instagram"></i></a>
                <a href="https://www.facebook.com/liveyomlife/" target="_blank" class="icon-cell p-3"><i class="fa fa-facebook-square"></i></a> 
            </div>
        </div> #}
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 text-center"> <span>Copyright © 2020 Yoga on/off the mat</span> · 
                    <span>Aarhaus, Denmark</span>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer END-->