{% extends '@EasyAdmin/default/edit.html.twig' %}
{% set content = entity %}

{% block content_title %}
    <div class="content-header-title">
        <h1 class="text-center">Edit article: "{{ content.title }}"</h1>
    </div>    
{% endblock %}






